apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "tempo.fullname" .Subcharts.tempo }}-datasource
  labels:
    grafana_datasource: "1"
data:
  tempo-datasource.yaml: |-
    apiVersion: 1
    datasources:
    - name: tempo
      type: tempo
      typeName: Tempo
      uid: tempo
      basicAuth: false
      url: http://{{ template "tempo.fullname" .Subcharts.tempo }}.{{ .Release.Namespace }}.svc:3200
      access: proxy
      isDefault: false
      jsonData:
        tracesToLogsV2:
          datasourceUid: 'loki'
          spanStartTimeShift: '1h'
          spanEndTimeShift: '-1h'
          filterByTraceID: true
          filterBySpanID: true
        tracesToMetrics:
          datasourceUid: 'mimir'
          spanStartTimeShift: '1h'
          spanEndTimeShift: '-1h'
        serviceMap:
          datasourceUid: 'mimir'
        nodeGraph:
          enabled: true
        search:
          hide: false
        traceQuery:
          timeShiftEnabled: true
        read-only: false  
