default:
  valueFiles:
  - values-k3d.yaml

applications:

  - name: argocd
    annotations:
      argocd.argoproj.io/sync-wave: "-2"

  - name: k8s-monitoring
    annotations:
      argocd.argoproj.io/compare-options: ServerSideDiff=true
      argocd.argoproj.io/sync-wave: "-1"
    syncOptions:
      - ServerSideApply=true

  - name: grafana
    annotations:
      argocd.argoproj.io/compare-options: ServerSideDiff=true
    syncOptions:
      - ServerSideApply=true

  - name: mimir

  - name: loki
    annotations:
      argocd.argoproj.io/compare-options: ServerSideDiff=true
    helmOptions:
      skipCrds: true
    syncOptions:
      - ServerSideApply=true

  - name: tempo

   


