applicationDict: true
default:
  valueFiles:
  - values-kubrix-default.yaml
  - values-cluster-{{ .kubriX.clusterType }}.yaml
  - values-provider-{{ .kubriX.cloudProvider }}.yaml
  {{ if .kubriX.haEnabled }}
  - values-ha-enabled.yaml
  {{ end -}}
  - values-size-{{ .kubriX.tShirtSize }}.yaml
  {{ if .kubriX.securityStrict }}
  - values-security-strict.yaml
  {{ end -}}
  - values-customer-generated.yaml
  - values-customer.yaml

applications:

  {{ if ne .kubriX.clusterType "kind" -}}
  external-dns:
    enabled: true
    valueFiles:
    - values-dns-{{ .kubriX.dnsProvider }}.yaml

  {{ end -}}
  
  loki:
    enabled: true
    annotations:
      argocd.argoproj.io/sync-wave: '-1'

  kargo:
    enabled: true

  argo-rollouts:
    enabled: true

  grafana:
    enabled: true

  mimir:
    enabled: true

  {{ if ne .kubriX.clusterType "kind" -}}

  falco:
    enabled: true

  kyverno:
    enabled: true

  velero:
    enabled: true

 # velero-ui can be enabled in customer values.

  minio:
    enabled: true

  {{ end -}}

  backstage:
    enabled: true

  team-onboarding:
    enabled: true
