applicationDict: true
default:
  valueFiles:
  - values-kubrix-default.yaml
  - values-cluster-{{ .kubriX.clusterType }}.yaml
  - values-provider-peak.yaml
  {{ if .kubriX.haEnabled }}
  - values-ha-enabled.yaml
  {{ end -}}
  - values-size-{{ .kubriX.tShirtSize }}.yaml
  {{ if .kubriX.securityStrict }}
  - values-security-strict.yaml
  {{ end -}}
  - values-customer-generated.yaml
  - values-customer.yaml

applications:

  metallb:
    enabled: true

  prometheus-operator-crds:
    annotations:
      argocd.argoproj.io/sync-wave: '-8'

  k8s-monitoring:
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/enforce: privileged
        pod-security.kubernetes.io/audit: privileged
        pod-security.kubernetes.io/warn: privileged

  prometheus-blackbox-exporter:
    enabled: true
    annotations:
      argocd.argoproj.io/sync-wave: '-7'

  loki:
    enabled: true
    annotations:
      argocd.argoproj.io/sync-wave: '-1'

  kargo:
    enabled: true

  argo-rollouts:
    enabled: true

  grafana:
    enabled: true

  mimir:
    enabled: true

  falco:
    enabled: true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/enforce: privileged
        pod-security.kubernetes.io/audit: privileged
        pod-security.kubernetes.io/warn: privileged

  kyverno:
    enabled: true

  velero:
    enabled: true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/enforce: privileged
        pod-security.kubernetes.io/audit: privileged
        pod-security.kubernetes.io/warn: privileged

# velero-ui can be enabled in customer values.

  minio:
    enabled: true

  backstage:
    enabled: true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/enforce: privileged
        pod-security.kubernetes.io/audit: privileged
        pod-security.kubernetes.io/warn: privileged

  team-onboarding:
    enabled: true
