default:
  valueFiles:
  - values-metalstack.yaml

applications:

  - name: cert-manager
    annotations:
      argocd.argoproj.io/sync-wave: "-3"

  - name: ingress-nginx
    annotations:
      argocd.argoproj.io/sync-wave: "-2"

  - name: external-dns
    annotations:
      argocd.argoproj.io/sync-wave: "-2" 

  - name: argocd
    annotations:
      argocd.argoproj.io/sync-wave: "-2"

  - name: k8s-monitoring
    annotations:
      argocd.argoproj.io/compare-options: ServerSideDiff=true
      argocd.argoproj.io/sync-wave: "-1"
    syncOptions:
      - ServerSideApply=true

  - name: grafana
    annotations:
      argocd.argoproj.io/compare-options: ServerSideDiff=true
    syncOptions:
      - ServerSideApply=true
      
  - name: mimir

  - name: loki
    annotations:
      argocd.argoproj.io/compare-options: ServerSideDiff=true
      argocd.argoproj.io/sync-wave: "-1"
    helmOptions:
      skipCrds: true
    syncOptions:
      - ServerSideApply=true

  - name: tempo
   
  - name: kargo

  - name: kubecost

  - name: team-onboarding
    destinationNamespaceOverwrite: argocd

  - name: argo-rollouts

  - name: crossplane

  - name: kyverno
    syncOptions:
      - ServerSideApply=true
      
  - name: kubevirt-manager

  - name: kubevirt

  - name: backstage
    annotations:
      argocd.argoproj.io/sync-wave: "10"
