{{ if .Values.kyvernoPolicies.createKubevirtRolebinding.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: kyverno:background-controller:kubevirt
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kubevirt-datavolume-permission
subjects:
- kind: ServiceAccount
  name: kyverno-background-controller
  namespace: kyverno
{{- end }}
