apiVersion: backstage.io/v1alpha1
kind: Resource
metadata:
  name: vault
  title: vault
  description: vault Instance for kubriX
  links: 
    - url: https://developer.hashicorp.com/vault/docs
      title: Official Documentation
      icon: web
spec:
  type: secure
  lifecycle: production
  owner: kubrix
  system: kubrix