teamName: team1
appProject: "{{ .Values.teamName }}-project"
appName: multi-stage-app
appDefinition:
  annotations:
    argocd.argoproj.io/compare-options: ServerSideDiff=true
  syncOptions:
    - ServerSideApply=true
repoUrl: https://github.com/suxess-it/kubrix-demo-app
# since a kargo project is a cluster-scoped resource it needs a unique name
# however, in a app-in-any-namespace feature the appName doesn't need to be unique in the cluster
# so we add the team as an extra prefix to get a unique name
kargoProject: "{{ .Values.teamName }}-{{ .Values.appName }}-kargo-project"
appNamespace:
  create: true
  annotations:
    testAnnotation: blub
  labels:
    testLabel: bla
stages:
  - name: "test"
    subscriptions: 
      # be aware that you MUST currently name the warehouse "warehouse-{{ .Values.appName }}"
      # because it gets created with this name implicitly.
      # todo: give the user the option to define the warehouse as he likes it
      warehouse: "warehouse-{{ .Values.appName }}"
    requestedFreight:
    - origin:
        kind: Warehouse
        name: warehouse-{{ .Values.appName }}
      sources:
        direct: true
  - name: "qa"
    subscriptions:
      upstreamStages:
      - name: test
    requestedFreight:
    - origin:
        kind: Warehouse
        name: warehouse-{{ .Values.appName }}
      sources:
        stages:
        - test
  - name: "prod"
    subscriptions:
      upstreamStages:
      - name: qa
    requestedFreight:
    - origin:
        kind: Warehouse
        name: warehouse-{{ .Values.appName }}
      sources:
        stages:
        - qa
