  - secretKey: resticPassword
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: velero-ui-credential
  namespace: velero-ui
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: velero-ui-credential
    template:
      data:
        SECURITY_TOKEN_KEY: "{{ `{{ .securityTokenKey }}` }}"
        DEFAULT_ADMIN_USERNAME: "{{ `{{ .username }}` }}"
        DEFAULT_ADMIN_PASSWORD: "{{ `{{ .password }}` }}"
        AWS_ACCESS_KEY_ID: "{{ `{{ .awsAccessKeyId }}` }}"
        AWS_SECRET_ACCESS_KEY: "{{ `{{ .awsSecretAccessKey }}` }}"
        RESTIC_PASSWORD: "{{ `{{ .resticPassword }}` }}"
        SECURITY_PATH_DATABASE: "{{ `{{ .securityPathDatabase }}` }}"
  data:
  - secretKey: securityTokenKey
    remoteRef:
      key: sx-cnp-oss-kv/data/demo/velero-ui
      property: securityTokenKey
  - secretKey: username
    remoteRef:
      key: sx-cnp-oss-kv/data/demo/velero-ui
      property: username
  - secretKey: password
    remoteRef:
      key: sx-cnp-oss-kv/data/demo/velero-ui
      property: password
  - secretKey: awsAccessKeyId
    remoteRef:
      key: sx-cnp-oss-kv/data/demo/velero-ui
      property: awsAccessKeyId
  - secretKey: awsSecretAccessKey
    remoteRef:
      key: sx-cnp-oss-kv/data/demo/velero-ui
      property: awsSecretAccessKey
  - secretKey: resticPassword
    remoteRef:
      key: sx-cnp-oss-kv/data/demo/velero-ui
      property: resticPassword
  - secretKey: securityPathDatabase
    remoteRef:
      key: sx-cnp-oss-kv/data/demo/velero-ui
      property: securityPathDatabase