{{- if .Values.securityTests.enabled -}}
apiVersion: testworkflows.testkube.io/v1
kind: TestWorkflow
metadata:
  name: kind-security
spec:
  container:
    env:
    - name: CURL_CA_BUNDLE
      value: /etc/ssl/custom/ca.crt
    volumeMounts:
    - mountPath: /etc/ssl/custom
      name: testkube-ca
      readOnly: true
  pod:
    volumes:
    - name: testkube-ca
      secret:
        defaultMode: 420
        secretName: ca-cert
  steps:
    - run:
        image: "curlimages/curl:7.78.0"
        shell: |
          cat /etc/ssl/custom/ca.crt
          echo ${CURL_CA_BUNDLE}
          curl --insecure -vvI https://vault.127-0-0-1.nip.io 2>&1 | awk 'BEGIN { cert=0 } /^\* SSL connection/ { cert=1 } /^\*/ { if (cert) print }'
          curl https://vault.127-0-0-1.nip.io
{{- end }}
