openbao:
  server:
    ingress:
      hosts:
        - host: openbao.{{ .kubriX.domain }}
          paths: []
      tls: 
        - secretName: openbao-server-tls
          hosts:
            - openbao.{{ .kubriX.domain }}