vault:
  server:
    ingress:
      hosts:
        - host: vault.demo.kubrix.cloud
          paths: []
      tls: 
        - secretName: vault-server-tls
          hosts:
            - vault.demo.kubrix.cloud
