k8s-monitoring:

  alloy:
    logging:
      # -- Level at which Alloy log lines should be written.
      # @section -- Deployment: [Alloy](https://github.com/grafana/alloy/tree/main/operations/helm/charts/alloy)
      level: info

  cluster:
    name: "suxessit-uibklab-jokl"
  
  externalServices:
    prometheus:
      host: "http://sx-mimir-nginx.mimir.svc"
      queryEndpoint: "/prometheus/api/v1/query"
      writeEndpoint: "/api/v1/push"
      tenantId: ""
    loki:
      host: "http://sx-loki-gateway.loki.svc"
      queryEndpoint: "/loki/api/v1/query"
      writeEndPoint: "/loki/api/v1/push"
      tenantId: ""

  opencost:
    enabled: false

  metrics:
    apiserver:
      enabled: true
      metricsTuning:
        includeMetrics:
          - apiserver_requested_deprecated_apis
          - apiserver_request_total
    kube-state-metrics:
      metricsTuning:
        includeMetrics:
          - kube_namespace_created

  extraConfig: |
    mimir.rules.kubernetes "rules" {
      address = nonsensitive(remote.kubernetes.secret.metrics_service.data["host"])
      tenant_id = "anonymous"

      rule_namespace_selector {
          match_labels = {
            "kubernetes.io/metadata.name" = "k8s-monitoring",
          }
      }
      rule_selector {
          match_labels = {}
      }
    }
