argo-cd:
  global:
    domain: argocd.127-0-0-1.nip.io
  configs:
    cm:
      timeout.reconciliation: 20s

  server:
    ingress:
      extraTls:
        - hosts:
          - argocd.127-0-0-1.nip.io
          secretName: argocd-server-tls
