argo-cd:
  global:
    domain: argocd.127-0-0-1.nip.io
  configs:
    cm:
      timeout.reconciliation: 20s

  controller:
    env:
      - name: ARGOCD_K8S_CLIENT_QPS
        value: "150"
      - name: ARGOCD_K8S_CLIENT_BURST
        value: "300"
 
  server:
    ingress:
      extraTls:
        - hosts:
          - argocd.127-0-0-1.nip.io
          secretName: argocd-server-tls
      
