keycloak:
  ingress:
  # ingress tls not implemented yet, we need to create our own ingress resource
    enabled: false

  readinessProbe:
    periodSeconds: 20
    failureThreshold: 5
  livenessProbe:
    periodSeconds: 20
    failureThreshold: 5
  startupProbe:
    periodSeconds: 20
    failureThreshold: 5

  resources:
    requests:
      memory: "512Mi"
      cpu: "150m"
    limits:
      memory: "1Gi"
      cpu: "1"

  networkPolicy:
    enabled: false

  additionalOptions:
    - name: "metrics-enabled"
      value: "true"
    - name: "health-enabled"
      value: "true"

    # serviceMonitor: # not yet implemented in keycloak, https://github.com/keycloak/keycloak/issues/40406, we need to create our own servicemonitor

  db:
    usernameSecret:
      name: cp-keycloak-externaldb-secret
      key: POSTGRES_USER
    passwordSecret:
      name: cp-keycloak-externaldb-secret
      key: POSTGRES_PASSWORD
    port: 5432


######## postgres instance
postgresql:
  enabled: true
  pdb:
    create: false
  primary:
    networkPolicy:
      enabled: false
    persistence:
      size: 1Gi # for demo only
  auth:
    username: keycloak
    database: postgres
    existingSecret: "cp-keycloak-externaldb-secret"
    secretKeys:
      userPasswordKey: POSTGRES_PASSWORD
      adminPasswordKey: POSTGRES_ADMIN
      # replicationPasswordKey: # not used
  volumePermissions:
    enabled: false
  architecture: standalone

#### kubrix
kubrix:
  keycloak:
    ingress:
      enabled: true
      tls:
        enabled: true
        secretName: keycloak-server-tls
        annotations:
          nginx.ingress.kubernetes.io/rewrite-target: /
          nginx.ingress.kubernetes.io/backend-protocol: HTTP
          cert-manager.io/cluster-issuer: mkcert-issuer
      className: nginx
    fqdn: -127-0-0-1.nip.io # add to prefix keycloak in templates
    realm:
      realmid: kubrix
      users:
        - name: phac
          firstName: Philipp
          lastName: Achmueller
          email: "philipp.achmueller@kubrix.io"
        - name: jokl
          firstName: Johannes
          lastName: Kleinlercher
          email: "johannes.kleinlercher@kubrix.io"
        - name: backstageadmin
          firstName: MrBackstage
          lastName: MrAdmin
          email: "backstageadmin@kubrix.io"
        - name: demouser
          firstName: demo
          lastName: user
          email: "demouser@kubrix.io"
        - name: demoadmin
          firstName: demo
          lastName: admin
          email: "demoadmin@kubrix.io"
        - name: team1user
          firstName: team1
          lastName: demouser
          email: "team1user@kubrix.io"
      groups:
        - name: admins
          roles:
            - grafana-admin
            - vault-admin
          members:
            - backstageadmin
            - demoadmin
        - name: viewers
          roles:
            - grafana-viewer
            - vault-viewer
          members:
            - team1user
        - name: editors
          roles:
            - grafana-editor
            - vault-editor
          members: 
            - phac
            - jokl
            - demouser
        - name: backstage-admin # for service-account permission workaround
    # start with 2FA mobile Authenticators
    mfa:
      enabled: false

## cnpg
cluster:
  enabled: false
