{{- if .Values.kindKubriXClusterIssuer.enabled }}
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  {{- if .Values.kindKubriXClusterIssuer.default }}
  name: default-issuer
  {{- else }}
  name: kind-kubriX-issuer
  {{- end }}
spec:
  ca:
    secretName: kind-kubriX-ca-key-pair
{{ end }}
