apiVersion: vault.vault.upbound.io/v1alpha1
kind: Audit
metadata:
  name: audit
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    argocd.argoproj.io/sync-wave: "1"
spec:
  providerConfigRef:
    name: vault-crossplane-providerconfig
  forProvider:
    options:
     # file_path: /vault/audit/audit.log
      file_path: stdout
    type: file
