apiVersion: identity.vault.upbound.io/v1alpha1
kind: Group
metadata:
  name: admins
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    argocd.argoproj.io/sync-wave: "6" # last item - for initcontainer check, until accessor id is available via crossplane plugin
spec:
  providerConfigRef:
    name: vault-crossplane-providerconfig
  forProvider:
    metadata:
      version: "2"
    name: admins
    policies:
    - vault-admin
    type: external
---
apiVersion: identity.vault.upbound.io/v1alpha1
kind: Group
metadata:
  name: users
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    argocd.argoproj.io/sync-wave: "5"
spec:
  providerConfigRef:
    name: vault-crossplane-providerconfig
  forProvider:
    metadata:
      version: "2"
    name: users
    policies:
    - users
    type: external
---
apiVersion: identity.vault.upbound.io/v1alpha1
kind: Group
metadata:
  name: team1
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    argocd.argoproj.io/sync-wave: "5"
spec:
  providerConfigRef:
    name: vault-crossplane-providerconfig
  forProvider:
    metadata:
      version: "2"
    name: team1
    policies:
    - team1
    type: external
