kind: Secret
apiVersion: v1
metadata:
  name: example-creds
  namespace: vault
type: Opaque
stringData:
  users: |
    {
      "usersdata": "testdata"
    }
  group1: |
    {
      "group1data": "testdata"
    }
  loginuser: |
    {
      "username": "admin",
      "password": "admin"
    }
  minio: |
    {
      "username": "minio",
      "password": "minio123"
    }
  velero-ui: |
    {
      "securityTokenKey": "39ed3a846cf9fb105cbab6df007f5b7afbd163dbe66aaa19fafd25eb6fe0723a",
      "username": "admin",
      "password": "admin",
      "awsAccessKeyId": "minio",
      "awsSecretAccessKey": "minio123",     
      "resticPassword": "static-passw0rd",
      "securityPathDatabase": "./data"
    }
