kind: Secret
apiVersion: v1
metadata:
  name: example-creds
  namespace: vault
type: Opaque
stringData:
  cnpg: |
    {
      "superuser": "superuser",
      "superuserpassword": "superuser",
      "pgbackstageusername": "backstage",
      "pgbackstagepassword": "backstage",
      "pgbackstageport": "5432",
      "pgbackstagehost": "sx-backstage-cluster-rw",
      "pgadminsecret": "admin",
      "pgadminclientid": "pgadmin",
      "pgadminclientsecret": "demosecret"
    }
  users: |
    {
      "usersdata": "testdata"
    }
  team1: |
    {
      "team1data": "testdata"
    }
  loginuser: |
    {
      "username": "admin",
      "password": "admin"
    }
  minio: |
    {
      "rootPassword": "root12345",
      "rootUser": "root",
      "username": "minio",
      "password": "minio123"
    }
  velero-ui: |
    {
      "securityTokenKey": "39ed3a846cf9fb105cbab6df007f5b7afbd163dbe66aaa19fafd25eb6fe0723a",
      "username": "admin",
      "password": "admin",
      "awsAccessKeyId": "minio",
      "awsSecretAccessKey": "minio123",     
      "resticPassword": "static-passw0rd",
      "securityPathDatabase": "./data"
    }
