---
apiVersion: vault.upbound.io/v1beta1
kind: ProviderConfig
metadata:
  name: "vault-crossplane-providerconfig"
  namespace: "{{ .Release.Namespace }}"
  annotations:
    argocd.argoproj.io/sync-wave: "-8"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  address: "http://sx-vault-active.{{ .Release.Namespace }}.svc.cluster.local:8200/"
  credentials:
    source: Secret
    secretRef:
      name: crossplane-init
      key: credentials
      namespace: "{{ .Release.Namespace }}"
  skip_child_token: true
