# should move to crossplane ns, maybe? 
apiVersion: pkg.crossplane.io/v1
kind: Provider
metadata:
  name: provider-vault
  annotations:
    argocd.argoproj.io/sync-wave: "-6"
spec:
  package: xpkg.upbound.io/upbound/provider-vault:v1.0.0
