{{- if .Values.cert.enabled }}
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: backstage-certificate
spec:
  secretName: {{ .Values.deployment.tls.name }}
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  dnsNames:
    - {{ .Values.deployment.ingress.host }}
{{- end }}