# per default no kyvernoPolicies get applied, add them in the list in your values files to enable them
kyvernoPolicies:
  createDenyAllAllowCoreDNSNetworkPolicy:
    enabled: false
    excludeNamespaces:
      - kube-system
      - kyverno
      
  createResourceQuotaAndLimitrange:
    ensbled: false

  validateKargoProjectName:
    enabled: false

  createKubevirtRolebinding:
    enabled: false

  createExcludeFromBackupLabel:
    enabled: false

kyverno:
  admissionController:
    replicas: 1
    container:
      securityContext: null
      resources:
        limits:
          memory: 1Gi
    initContainer:
      securityContext: null
    serviceMonitor:
      enabled: true
  backgroundController:
    replicas: 1
    serviceMonitor:
      enabled: true
  cleanupController:
    replicas: 1
    serviceMonitor:
      enabled: true
  reportsController:
    replicas: 1
    serviceMonitor:
      enabled: true
    resources:
      limits:
        memory: 512Mi
  config:
    webhooks:
      namespaceSelector:
        matchExpressions:
          - key: kubernetes.io/metadata.name
            operator: NotIn
            values:
              - kyverno
              - kube-system
