# should move to crossplane ns, maybe?
apiVersion: pkg.crossplane.io/v1
kind: Provider
metadata:
  name: provider-vault
  annotations:
    argocd.argoproj.io/sync-wave: "-10"
spec:
  package: xpkg.upbound.io/upbound/provider-vault:v3
  runtimeConfigRef:
    apiVersion: pkg.crossplane.io/v1beta1
    kind: DeploymentRuntimeConfig
    name: vault-provider-config
---
{{- $crossplane := default (dict) .Values.crossplane -}}
{{- $provider   := default (dict) $crossplane.provider -}}
{{- $replicas   := default 1 $provider.replicas -}}
apiVersion: pkg.crossplane.io/v1beta1
kind: DeploymentRuntimeConfig
metadata:
  name: vault-provider-config
  annotations:
    argocd.argoproj.io/sync-wave: "-10"
spec:
  deploymentTemplate:
    spec:
      replicas: {{ $replicas }}
      selector: {}
      template:
        spec:
          containers:
            - name: package-runtime
              env:
                - name: LEADER_ELECTION
                  value: "true"
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: ScheduleAnyway
              labelSelector:
                matchLabels:
                  pkg.crossplane.io/provider: provider-vault
              matchLabelKeys:
                - pod-template-hash
