{{- $ha := int .Values.vault.server.ha.replicas | default 1 -}}
{{- range $i, $e := until $ha -}} 
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: truncate-audit-sx-vault-{{ $i }}
  namespace: vault
spec:
  concurrencyPolicy: Allow
  failedJobsHistoryLimit: 1
  jobTemplate:
    metadata:
      creationTimestamp: null
    spec:
      template:
        metadata:
          creationTimestamp: null
        spec:
          containers:
          - command:
            - /bin/sh
            - -c
            - |
              echo "" > /vault/audit/audit.log
            image: busybox
            imagePullPolicy: Always
            name: truncate-audit-log
            resources: {}
            terminationMessagePath: /dev/termination-log
            terminationMessagePolicy: File
            volumeMounts:
            - mountPath: /vault/audit
              name: audit
          dnsPolicy: ClusterFirst
          restartPolicy: OnFailure
          schedulerName: default-scheduler
          securityContext: {}
          terminationGracePeriodSeconds: 30
          volumes:
          - name: audit
            persistentVolumeClaim:
              claimName: audit-sx-vault-{{ $i }}
  schedule: '0 10 * * *'
  successfulJobsHistoryLimit: 3
  startingDeadlineSeconds: 300  
  suspend: false
{{ end -}}
