mimir:
  nginx:
    ingress:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: mkcert-issuer
      hosts:
        - host: metrics-monitoring.127-0-0-1.nip.io
          paths:
            - path: /
              pathType: Prefix
      tls: ""
  mimir:
    structuredConfig:
      limits:
        max_global_series_per_user: 300000
        cardinality_analysis_enabled: true
  distributor:
    resources:
      limits:
        cpu: 3.5
        memory: 6Gi
  ingester:
    resources:
      requests:
        cpu: 50m
      limits:
        cpu: 5
        memory: 12Gi
  store_gateway:
    resources:
      requests:
        cpu: 50m
  querier:
    replicas: 1
    resources:
      requests:
        cpu: 50m
  query_scheduler:
    replicas: 1
    resources:
      requests:
        cpu: 50m
  
