mimir:
  gateway:
    enabledNonEnterprise: true
    ingress:
      enabled: true
      ingressClassName: nginx
      annotations:
        external-dns.alpha.kubernetes.io/ttl: "60"
        cert-manager.io/cluster-issuer: default-issuer
      hosts: []
      tls: []
  mimir:
    structuredConfig:
      limits:
        max_global_series_per_user: 500000
        cardinality_analysis_enabled: true
  # continue to use classic arch (https://grafana.com/docs/helm-charts/mimir-distributed/latest/migration-guides/migrate-helm-chart-5.x-to-6.0/#continue-using-classic-architecture-disable-ingest-storage)
      ingest_storage:
        enabled: false
      ingester:
        push_grpc_method_enabled: true
  kafka:
    enabled: false
  
  distributor:
    resources:
      limits:
        cpu: 3.5
        memory: 6Gi
  ingester:
    resources:
      limits:
        cpu: 5
        memory: 6Gi
    persistentVolume:
      size: 5Gi

  minio:
    persistence:
      size: 10Gi

  metaMonitoring:
    grafanaAgent:
      enabled: false
