apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: sx-cnp-secret
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: sx-cnp-secret
    template:
      type: Opaque
      data:
        BACKEND_SECRET: "{{ `{{ .BACKEND_SECRET }}` }}"
        EXTERNAL_ACCESS_TOKEN: "{{ `{{ .EXTERNAL_ACCESS_TOKEN }}` }}"
        VAULT_TOKEN: "{{ `{{ .VAULT_TOKEN }}` }}"
        VAULT_ADDR: "{{ `{{ .VAULT_ADDR }}` }}"
        OIDC_CLIENTSECRET: "{{ `{{ .OIDC_CLIENTSECRET }}` }}"
  data:
  - secretKey: BACKEND_SECRET
    remoteRef:
      key: kubrix-kv/data/portal/backstage/base
      property: BACKEND_SECRET
  - secretKey: EXTERNAL_ACCESS_TOKEN
    remoteRef:
      key: kubrix-kv/data/portal/backstage/base
      property: EXTERNAL_ACCESS_TOKEN
  - secretKey: VAULT_TOKEN
    remoteRef:
      key: kubrix-kv/data/portal/backstage/base
      property: VAULT_TOKEN
  - secretKey: VAULT_ADDR
    remoteRef:
      key: kubrix-kv/data/portal/backstage/base
      property: VAULT_ADDR
  - secretKey: OIDC_CLIENTSECRET
    remoteRef:
      key: kubrix-kv/data/keycloak/oidc
      property: backstage