kind: ConfigMap
apiVersion: v1
metadata:
  name: rbac-policy
data:
  rbac-policy.csv: |
    p, role:default/kubrixdemo, catalog-entity, read, allow
    p, role:default/kubrixdemo, catalog.entity.create, create, allow
    p, role:default/kubrixdemo, catalog.entity.refresh, update, allow
    p, role:default/kubrixdev, catalog-entity, read, allow
    p, role:default/kubrixdev, catalog-entity, update, allow
    p, role:default/kubrixdev, catalog.entity.create, create, allow
    p, role:default/kubrixdev, catalog.entity.read, read, allow
    p, role:default/kubrixdev, catalog.location.read, read, allow
    p, role:default/kubrixdev, catalog.location.create, create, allow
    p, role:default/kubrixdev, scaffolder-action, use, allow
    p, role:default/kubrixdev, scaffolder-template, read, allow
    p, role:default/kubrixdev, scaffolder.task.read, read, allow
    p, role:default/kubrixdev, scaffolder.task.create, create, allow
    p, role:default/kubrixdev, scaffolder.task.cancel, use, allow
    p, role:default/kubrixdev, kubernetes.proxy, use, allow
    p, role:default/kubrixdev, argocd.view.read, read, allow
    g, group:default/viewers, role:default/kubrixdemo
    g, group:default/editors, role:default/kubrixdev