scmAppsetRequeueAfterSeconds: 30
multiStageKargoAppSetHelmRepo: "https://github.com/kubriX-demo/kubriX-demo-oss"

teams:
  - name:  team-1
    sourceRepos:
      - '*'
    clusterResourceWhitelist:
      - group: ""
        kind: Namespace
      - group: kargo.akuity.io
        kind: Project
    appOfAppsRepo:
      repoURL: https://github.com/kubriX-demo/team-1-apps
      path: demo-apps
      revision: main
    multiStageKargoAppSet:
      organization: kubriX-demo
