traefik:
# ssome input for traefik on KinD via https://github.com/jcchavezs/traefik-kind and input from ingress-nginx kind values
  
  ports:
    traefik:
      hostPort: 80

  service:
    type: ClusterIP

  nodeSelector:
    ingress-ready: "true"

  tolerations:
    - key: "node-role.kubernetes.io/master"
      operator: "Equal"
      effect: "NoSchedule"
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Equal"
      effect: "NoSchedule"

  providers:
    kubernetesIngressNginx:
      publishService:
        enabled: false
