apiVersion: backstage.io/v1alpha1
kind: Resource
metadata:
  name: openbao
  title: openbao
  description: openbao Instance for kubriX
  links: 
    - url: https://openbao.org/
      title: Official Documentation
      icon: web
spec:
  type: secure
  lifecycle: production
  owner: kubrix
  system: kubrix