{{- if .Values.kubrix.keycloak.mfa.enabled }}
apiVersion: role.keycloak.crossplane.io/v1alpha1
kind: Role
metadata:
  name: 2faotprole
  labels:
    platform-engineer.cloud/role: 2faotprole
  annotations:
    argocd.argoproj.io/sync-wave: "2"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  deletionPolicy: Delete
  forProvider:
    description: "${role_{{ .Values.kubrix.keycloak.realm.realmid }}_otprole}"
    name: {{ .Values.kubrix.keycloak.realm.realmid }}_otprole
    realmIdSelector:
      matchLabels:
        platform-engineer.cloud/realm: {{ .Values.kubrix.keycloak.realm.realmid }}
  providerConfigRef:
    name: "{{ .Release.Name }}-config"
---
apiVersion: authenticationflow.keycloak.crossplane.io/v1alpha1
kind: Flow
metadata:
  name: 2faflow
  labels:
    platform-engineer.cloud/flow: 2faflow
  annotations:
    argocd.argoproj.io/sync-wave: "2"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  deletionPolicy: Delete
  forProvider:
    realmIdSelector:
      matchLabels:
        platform-engineer.cloud/realm: {{ .Values.kubrix.keycloak.realm.realmid }}
    alias: browser 2 FA
    description: browser based authentication
    providerId: basic-flow
  providerConfigRef:
    name: "{{ .Release.Name }}-config"
---
apiVersion: authenticationflow.keycloak.crossplane.io/v1alpha1
kind: Execution
metadata:
  name: 2fa-ex1
  annotations:
    argocd.argoproj.io/sync-wave: "3"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  forProvider:
    authenticator: auth-cookie
    priority: 1
    parentFlowAliasSelector:
      matchLabels:
        platform-engineer.cloud/flow: 2faflow
    requirement: ALTERNATIVE
    realmIdSelector:
      matchLabels:
        platform-engineer.cloud/realm: {{ .Values.kubrix.keycloak.realm.realmid }}
  providerConfigRef:
    name: "{{ .Release.Name }}-config"
---
apiVersion: authenticationflow.keycloak.crossplane.io/v1alpha1
kind: Execution
metadata:
  name: 2fa-ex2
  annotations:
    argocd.argoproj.io/sync-wave: "4"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  forProvider:
    authenticator: identity-provider-redirector
    priority: 2
    parentFlowAliasSelector:
      matchLabels:
        platform-engineer.cloud/flow: 2faflow
    realmIdSelector:
      matchLabels:
        platform-engineer.cloud/realm: {{ .Values.kubrix.keycloak.realm.realmid }}
    requirement: ALTERNATIVE
  providerConfigRef:
    name: "{{ .Release.Name }}-config"
---
apiVersion: authenticationflow.keycloak.crossplane.io/v1alpha1
kind: Execution
metadata:
  name: 2fa-ex3
  annotations:
    argocd.argoproj.io/sync-wave: "5"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  forProvider:
    authenticator: auth-username-password-form
    priority: 3
    parentFlowAliasSelector:
      matchLabels:
        platform-engineer.cloud/flow: 2faflow
    realmIdSelector:
      matchLabels:
        platform-engineer.cloud/realm: {{ .Values.kubrix.keycloak.realm.realmid }}
    requirement: REQUIRED
  providerConfigRef:
    name: "{{ .Release.Name }}-config"
---
apiVersion: authenticationflow.keycloak.crossplane.io/v1alpha1
kind: Execution
metadata:
  name: 2fa-ex4
  labels:
    platform-engineer.cloud/execution: 2fa-ex4
  annotations:
    argocd.argoproj.io/sync-wave: "6"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  forProvider:
    authenticator: auth-conditional-otp-form
    priority: 4
    parentFlowAliasSelector:
      matchLabels:
        platform-engineer.cloud/flow: 2faflow
    realmIdSelector:
      matchLabels:
        platform-engineer.cloud/realm: {{ .Values.kubrix.keycloak.realm.realmid }}
    requirement: REQUIRED
  providerConfigRef:
    name: "{{ .Release.Name }}-config"
---
apiVersion: authenticationflow.keycloak.crossplane.io/v1alpha1
kind: ExecutionConfig
metadata:
  name: 2fa-ex4-conf
  annotations:
    argocd.argoproj.io/sync-wave: "7"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  forProvider:
    alias: conditional otp form
    config:
      defaultOtpOutcome: skip
      forceOtpRole: {{ .Values.kubrix.keycloak.realm.realmid }}_otprole
    executionIdSelector:
      matchLabels:
        platform-engineer.cloud/execution: 2fa-ex4  
    realmIdSelector:
      matchLabels:
        platform-engineer.cloud/realm: {{ .Values.kubrix.keycloak.realm.realmid }}
  providerConfigRef:
    name: "{{ .Release.Name }}-config"
---
apiVersion: authenticationflow.keycloak.crossplane.io/v1alpha1
kind: Bindings
metadata:
  name: 2fa-browser-flow-binding
  annotations:
    argocd.argoproj.io/sync-wave: "8"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  forProvider:
    browserFlowSelector:
      matchLabels:
        platform-engineer.cloud/flow: 2faflow
    realmIdSelector:
      matchLabels:
        platform-engineer.cloud/realm: {{ .Values.kubrix.keycloak.realm.realmid }}
  providerConfigRef:
    name: "{{ .Release.Name }}-config"
{{- end }}
---
{{- range $group := .Values.kubrix.keycloak.realm.groups }}
{{- if $group.mfa }}
apiVersion: group.keycloak.crossplane.io/v1alpha1
kind: Roles
metadata:
  name: backstage-{{ $group.name }}-2fa-roles
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    argocd.argoproj.io/sync-wave: "1"
spec:
  forProvider:
    exhaustive: false
    groupIdRef:
      name: {{ $group.name }}
    roleIdsSelector:
      matchLabels: 
        platform-engineer.cloud/role: 2faotprole    
    realmId: {{ $.Values.kubrix.keycloak.realm.realmid }}
  providerConfigRef:
    name: "{{ $.Release.Name }}-config"  
---
{{- end }}
{{- end }}
