apiVersion: openidclient.keycloak.crossplane.io/v1alpha1
kind: ClientDefaultScopes
metadata:
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    argocd.argoproj.io/sync-wave: "1"
  name: client-default-scopes-pgadmin
spec:
  forProvider:
    clientIdRef:
      name: pgadmin
    defaultScopes:
    - profile
    - email
    - roles
    - web-origins
    - groups
    - acr
    realmIdRef:
      name: {{ $.Values.kubrix.keycloak.realm.realmid }}
  providerConfigRef:
    name: "{{ .Release.Name }}-config"
