---
apiVersion: openidclient.keycloak.crossplane.io/v1alpha1
kind: Client
metadata:
  name: pgadmin
  annotations:
    argocd.argoproj.io/sync-wave: "1"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  deletionPolicy: Delete
  forProvider:
    accessType: CONFIDENTIAL 
    clientId: pgadmin
    name: pgadmin
    realmId: {{ .Values.kubrix.keycloak.realm.realmid }}
    directAccessGrantsEnabled: false
    standardFlowEnabled: true
    serviceAccountsEnabled: true
#    managementPolicies: ["Observe"]
    validRedirectUris:
      - "http://localhost:7007/api/auth/oidc/handler/frame"
      - "https://pgadmin{{ .Values.kubrix.keycloak.fqdn }}/oauth2/authorize"
    clientSecretSecretRef:
      key: pgadmin
      name: keycloak-client-credentials
      namespace: {{ .Release.Namespace }}
    loginTheme: keycloak
  providerConfigRef:
    name: "{{ .Release.Name }}-config"
