apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: keycloak-client-credentials
  annotations:
    argocd.argoproj.io/sync-wave: "-9"
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: openbao-backend
    kind: ClusterSecretStore
  target:
    name: keycloak-client-credentials
    creationPolicy: Owner
    template:
      type: Opaque
      engineVersion: v2
      data:
        backstage: "{{ `{{ .backstage }}` }}"
        openbao: "{{ `{{ .openbao }}` }}"
      metadata:
        annotations:
          argocd.argoproj.io/sync-wave: "-9"
          kubrix.io/install: "false"
  data:
  - secretKey: backstage
    remoteRef:
      key: kubrix-kv/data/keycloak/oidc
      property: backstage
  - secretKey: openbao
    remoteRef:
      key: kubrix-kv/data/keycloak/oidc
      property: openbao