{{- range $group := .Values.kubrix.keycloak.realm.groups }}
{{- range $role := $group.roles }}
---
apiVersion: group.keycloak.crossplane.io/v1alpha1
kind: Roles
metadata:
  name: grafana-group-roles-{{ $group.name }}-{{ $role }}
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    argocd.argoproj.io/sync-wave: "6"
spec:
  deletionPolicy: Delete
  forProvider:
    exhaustive: false
    groupIdRef:
      name: {{ $group.name }}
    realmIdRef: 
      name: {{ $.Values.kubrix.keycloak.realm.realmid }}
    roleIdsSelector:
      matchLabels:
        platform-engineer.cloud/role: {{ $role }}
  initProvider: {}
  managementPolicies:
    - '*'
  providerConfigRef:
    name: sx-keycloak-config
{{- end }}
{{- end }}
