# should move to crossplane ns, maybe? 
apiVersion: pkg.crossplane.io/v1
kind: Provider
metadata:
  name: provider-keycloak
  annotations:
    argocd.argoproj.io/sync-wave: "-10"
spec:
  package: xpkg.upbound.io/crossplane-contrib/provider-keycloak:v2.10.0
