---
apiVersion: pkg.crossplane.io/v1beta1
kind: Function
metadata:
  name: function-extra-resources
spec:
  package: xpkg.upbound.io/crossplane-contrib/function-extra-resources:v0.3.0
  runtimeConfigRef:
    name: function-extra-resources-config
---
apiVersion: pkg.crossplane.io/v1beta1
kind: Function
metadata:
  name: function-auto-ready
spec:
  package: xpkg.upbound.io/crossplane-contrib/function-auto-ready:v0.6.0
  runtimeConfigRef:
    name: function-auto-ready-config
---
apiVersion: pkg.crossplane.io/v1beta1
kind: Function
metadata:
  name: function-keycloak-builtin-objects
spec:
  package: registry.gitlab.com/corewire/images/crossplane/function-keycloak-builtin-objects:v3.1.2
  packagePullPolicy: Always
  runtimeConfigRef:
    name: function-keycloak-builtin-objects-config
---
{{- $crossplane := default (dict) .Values.crossplane -}}
{{- $function   := default (dict) $crossplane.function -}}
{{- $replicas   := default 1 $function.replicas -}}
apiVersion: pkg.crossplane.io/v1beta1
kind: DeploymentRuntimeConfig
metadata:
  name: function-extra-resources-config
spec:
  deploymentTemplate:
    spec:
      replicas: {{ $replicas }}
      selector: {}
      template:
        spec:
          containers: []
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: ScheduleAnyway
              labelSelector:
                matchLabels:
                  pkg.crossplane.io/function: function-extra-resources
              matchLabelKeys:
                - pod-template-hash
---
apiVersion: pkg.crossplane.io/v1beta1
kind: DeploymentRuntimeConfig
metadata:
  name: function-auto-ready-config
spec:
  deploymentTemplate:
    spec:
      replicas: {{ $replicas }}
      selector: {}
      template:
        spec:
          containers: []
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: ScheduleAnyway
              labelSelector:
                matchLabels:
                  pkg.crossplane.io/function: function-auto-ready
              matchLabelKeys:
                - pod-template-hash
---
apiVersion: pkg.crossplane.io/v1beta1
kind: DeploymentRuntimeConfig
metadata:
  name: function-keycloak-builtin-objects-config
spec:
  deploymentTemplate:
    spec:
      replicas: {{ $replicas }}
      selector: {}
      template:
        spec:
          containers: []
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: ScheduleAnyway
              labelSelector:
                matchLabels:
                  pkg.crossplane.io/function: function-keycloak-builtin-objects
              matchLabelKeys:
                - pod-template-hash
