{{- if .Values.kargo.api.secret.name }}
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: kargo-admin-secret
  namespace: kargo
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    argocd.argoproj.io/sync-wave: "-9"
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: kargo-admin-secret
    template:
      type: Opaque
      metadata:
        annotations:
          argocd.argoproj.io/sync-wave: "-9"
          kubrix.io/install: "false"
      data:
        ADMIN_ACCOUNT_PASSWORD_HASH: "{{ `{{ .passwordHash }}`}}"
        ADMIN_ACCOUNT_PASSWORD: "{{ `{{ .password }}`}}"
        ADMIN_ACCOUNT_TOKEN_SIGNING_KEY: "{{ `{{ .tokenSigningKey }}`}}"
  data:
  - secretKey: passwordHash
    remoteRef:
      key: kubrix-kv/data/delivery/kargo/base
      property: passwordHash
  - secretKey: password
    remoteRef:
      key: kubrix-kv/data/delivery/kargo/base
      property: password
  - secretKey: tokenSigningKey
    remoteRef:
      key: kubrix-kv/data/delivery/kargo/base
      property: tokenSigningKey
{{- end }}
