apiVersion: v1
kind: ConfigMap
metadata:
  name: loki-datasource
  labels:
    grafana_datasource: "1"
data:
  datasource.yaml: |-
    apiVersion: 1
    datasources:
    - name: loki
      type: loki
      uid: loki
      url: http://sx-loki:3100
      access: proxy
      isDefault: false
