{{- if eq .Values.kubriXPlan "oss" }}
{{- range .Values.teams }}
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: {{ .name }}-project
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
spec:
  sourceNamespaces:
  - adn-{{ .name }}
  clusterResourceWhitelist:
{{ toYaml .clusterResourceWhitelist | indent 2 }}
  destinations:
{{ tpl (toYaml $.Values.defaultDestinationsRules | indent 2) . }}
  sourceRepos:
{{- range .sourceRepos }}
  - {{ quote . }}
{{- end }}
  - {{ $.Values.multiStageKargoAppSetHelmRepo | quote }}
---
{{- end }}
{{- end }}