{{- if eq .kubriX.clusterType "kind" }}
mkcertClusterIssuer:
  enabled: true
  default: true
{{- else }}
letsEncryptProdClusterIssuer:
  enabled: true
  default: true
{{- end }}

cert-manager:
  webhook:
    timeoutSeconds: 15 # best practice on gardener, and gardener will change this and produce an argocd out-of-sync
