{{ if eq .kubriX.clusterType "kind" -}}
createmkcertClusterIssuer: true
{{ else }}
createLetsEncryptProdClusterIssuer: true
{{ end -}}

cert-manager:
  webhook:
    timeoutSeconds: 15 # best practice on gardener, and gardener will change this and produce an argocd out-of-sync