{{- $routes := list -}}
{{- range .Values.teams }}
  {{- if .alerting }}
    {{- $routes = append $routes (dict
      "receiver" .name
      "object_matchers" (list (list "namespace" "=~" (printf "%s-.*" .name)))
    ) -}}
  {{- end }}
{{- end }}

apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    grafana_alert: "1"
  name: alerting-notification-policy
data:
  notification-policy.yaml: |-
    apiVersion: 1
    policies:
      - orgId: 1
        receiver: platform-team-default
        group_by:
          - grafana_folder
          - alertname
{{- if gt (len $routes) 0 }}
        routes:
{{ toYaml $routes | nindent 10 }}
{{- else }}
        routes: []
{{- end }}
