name: Create branches for kargo

on:
  push:
    branches:
      - 'main'

jobs:
  create_a_branch:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: write
    steps:
      - name: checkout
        uses: actions/checkout@v5
      - name: Create stages/test branch
        uses: peterjgrainger/action-create-branch@v3.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          branch: 'stages/test'
      - name: Create stages/prod branch
        uses: peterjgrainger/action-create-branch@v3.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          branch: 'stages/prod'
