name: create kubrix-installer image (non-main branches)

on:
  push:
    branches: 
      - 'main'
    paths:
      - 'Dockerfile'
      - 'install-platform.sh'
      - '.github/workflows/create-kubrix-installer-image.yml'
    tags:
      - 'v*'
  pull_request:
    types: [opened, synchronize]
    paths:
      - 'Dockerfile'
      - 'install-platform.sh'
      - '.github/workflows/create-kubrix-installer-image.yml'
  workflow_dispatch:

env:
  GHCR_REPO: ghcr.io/suxess-it/kubrix-installer
  BRANCH: ${{ github.head_ref || github.ref_name }}

jobs:
  create-kubrix-installer-image:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:         
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3

      - name: compute ref name
        id: ref_name
        run: |
          RAW="${GITHUB_REF_NAME}"
          SAFE=$(echo "$RAW" | tr '[:upper:]' '[:lower:]' \
                       | sed -E 's/[^a-z0-9._-]+/-/g' \
                       | sed -E 's/^-+|-+$//g' \
                       | cut -c1-128)
          echo "safe_ref=$SAFE" >> $GITHUB_OUTPUT

      - name: compute version
        id: version
        run: |
          VERSION=$(git describe --tags)
          echo "version=${VERSION}" >> $GITHUB_OUTPUT

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            name=ghcr.io/suxess-it/kubrix-installer
          tags: |
            # set latest tag for default branch
            type=raw,value=latest,enable={{is_default_branch}}
            type=ref,event=branch
            type=ref,event=tag

      - name: Login to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
     
      - name: Build and push docker
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/amd64, linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
