on:
  pull_request:
    types: [opened, synchronize]

permissions:
  contents: read
  pull-requests: write

name: Diff GitOps

jobs:
  diff:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PR
        uses: actions/checkout@v4
        with:
         path: pr
      - name: Checkout Target of PR
        uses: actions/checkout@v4
        with:
          path: target
          ref: ${{ github.event.pull_request.base.ref }}

      - name: diff charts
        shell: bash
        run: |
          mkdir -p out/pr
          mkdir -p out/target
          for env in pr target; do
            cd ${env}/platform-apps/charts
            for chart in $( ls ); do
              echo ${chart}
              helm dependency update ${chart}
              for value in $( find ${chart} -type f -name "values*" ); do
                valuefile=$( basename ${value} )
                helm template ${chart} -f ${value} > ../../../out/${env}/${chart}_${valuefile}.out
              done
            done
            cd -
          done
          diff -r out/pr out/target > diff.txt

      - name: PR comment with file
        uses: thollander/actions-comment-pull-request@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          filePath: diff.txt
