on:
  pull_request:
    types: [opened, synchronize]

permissions:
  contents: read
  pull-requests: write

name: Diff GitOps

jobs:
  diff:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PR
        uses: actions/checkout@v4
        with:
         path: pr
      - name: Checkout Target of PR
        uses: actions/checkout@v4
        with:
          path: target
          ref: ${{ github.event.pull_request.base.ref }}

      - name: diff charts
        shell: bash
        run: |
          wget https://raw.githubusercontent.com/suxess-it/sx-cnp-oss/main/.github/Pr-diff-template.txt
          mkdir -p out/pr
          mkdir -p out/target
          mkdir -p out-default-values/pr
          mkdir -p out-default-values/target
          mkdir -p comment-files
          for env in pr target; do
            cd ${env}/platform-apps/charts
            for chart in $( ls ); do
              echo ${chart}
              helm dependency update ${chart}
              for value in $( find ${chart} -type f -name "values*" ); do
                valuefile=$( basename ${value} )
                helm template ${chart} -f ${value} > ../../../out/${env}/${chart}_${valuefile}.out
              done
              # get default values of subchart
              helm show values ${chart}/charts/* > ../../../out-default-values/${env}/${chart}_default-values.out || true
            done
            cd -
          done
          diff -U 7 -r out-default-values/target out-default-values/pr > out/default-values-diff.txt || true
          diff -U 7 -r out/target out/pr > out/diff.txt || true
          csplit -f comment-files/comment out/diff.txt --elide-empty-files /---/ '{*}'
          ls comment-files
          sed  's/DESCRIPTION_HERE/Changes Rendered Chart/g' Pr-diff-template.txt > out/comment-diff.txt
          sed  -e "/DIFF_HERE/{r out/diff.txt" -e "d}" out/comment-diff.txt > comment-files/comment-result.txt
          sed  's/DESCRIPTION_HERE/Changes Default Values/g' Pr-diff-template.txt > out/comment-diff-default-values.txt
          sed  -e "/DIFF_HERE/{r out/default-values-diff.txt" -e "d}" out/comment-diff-default-values.txt > comment-files/comment-default-values-result.txt
          

      - name: PR comment rendered chart with file
        uses: thollander/actions-comment-pull-request@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          filePath: out/comment-result.txt

      - name: PR comment default values with file
        uses: thollander/actions-comment-pull-request@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          filePath: out/comment-default-values-result.txt
