on:
  pull_request:
    types: [opened, synchronize]
    paths:
      - '.github/workflows/list-images.yaml'
      - 'platform-apps/charts/**'

name: list images

jobs:
  list-images:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PR
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - name: get images
        shell: bash
        run: |
          helm plugin install https://github.com/nikhilsbhat/helm-images
          cd platform-apps/charts
          echo "# Image list" > image-list.md
          echo -n "" > image-list.json
          for chart in $( ls -d */ | sed 's#/##' ); do
            echo "${chart}"
            echo "## ${chart}" >> image-list.md
            helm dependency update ${chart} 1> /dev/null 2>&1
            for value in $( find ${chart} -type f -name "values-*" ); do
              helm images get ${chart} -f ${value} --log-level error --kind "Deployment,StatefulSet,DaemonSet,CronJob,Job,ReplicaSet,Pod,Alertmanager,Prometheus,ThanosRuler,Grafana,Thanos,Receiver"
            done | sort -u | sed 's/^/* /' >> image-list.md
            for image in $(
              for value in $( find ${chart} -type f -name "values-*" ); do
                helm images get ${chart} -f ${value} --log-level error --kind "Deployment,StatefulSet,DaemonSet,CronJob,Job,ReplicaSet,Pod,Alertmanager,Prometheus,ThanosRuler,Grafana,Thanos,Receiver"
              done | sort -u ); do
              id=$( echo "${chart}_${image}" | base64 -w 0 )
              echo -n "{chart: \"${chart}\", image: \"${image}\", id: \"${id}\"}," >> image-list.json
            done
          done
          cat image-list.md
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          git diff --cached --exit-code || git commit -m "updated container image list"
          git push
