on:
  workflow_dispatch:
  schedule:
    - cron: '1 17 * * *'

name: create trivy scan report on demand

jobs:
  evaluate:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: create trivy scan report
        shell: bash
        run: |
          if [[ -z $(git ls-remote --heads origin trivy-report-update) ]] ; then
            git checkout -b trivy-report-update
          else
            git checkout trivy-report-update
          fi
          .github/create-trivy-scan-report.sh
          
      - name: commit trivy scan report
        shell: bash
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          set -x
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git status
          git add trivy-scan-reports
          git status
          echo "commit"
          git diff --cached --exit-code || git commit -m "update trivy scan reports"
          git push --set-upstream origin trivy-report-update
          # create a PR unless there are no new commits or there is already an existing PR from branch 'from-upstream'
          [ "$(git log main..trivy-report-update)" = "" ] || gh pr view trivy-report-update --repo ${GITHUB_REPOSITORY} --json state --jq '.state' | grep OPEN || gh pr create --base main --head trivy-report-update --repo ${GITHUB_REPOSITORY} --title "trivy scan updates" --body ""
